// app global css in SCSS form

.bg-body-card-main {
  width: 100%;
  height: 90vh;
}

.card-main {
  width: 100%;
  max-width: 250px;
  max-height: 300px;
}

.size-simulation-main {
  width: 100%;
  height: 90vh;
}
